@charset "utf-8";
/* CSS Document */
@media (max-width: 770px){
	#nav li{
		padding-left: 5px !important;
		padding-right:5px !important;
	}
	.promo{
		width: 49% !important;
	}
}
@font-face{
	font-family: 'Myriad Pro';
	src: url("font/myriadpro-regular-webfont.ttf");
}
@font-face{
	font-family: 'Myriad Pro Light';
	src: url("font/myriadpro-light-webfont.ttf");
}
:visited {
	color: #00E;
}
body{
	font-family: 'Myriad Pro';
	margin:0px;
	padding:0px;
}
#header{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    height: 48px;
    background: #333;
    font-size: 18px;
}
#nav{
	font-family:'Myriad Pro Light';
	list-style:none;
	margin:auto;
	width:80%;
}
#nav ui{
	margin: auto;
	width:80%;
}
#nav li{
	float:left;
	padding-right:40px;
}
#nav li a{
	display:inline-block;
	color: #fff;
	text-decoration:none;
	height: 48px;
	line-height: 48px;
	text-align:center;
	font-size:18px;
	transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#sitenav{
	vertical-align: middle;
}
#nav li a:hover{
	opacity: .65;
}
#content{
	margin-top:48px;
}

#promoContainer{
	text-align: center;
}
.promo{
	display:inline-block;
	width:24.5%;
	background-color:#eee;
}
#footer{
	font-size:10px;
	color:#666;
	background-color:#f2f2f2;
	margin: auto;
	width:100%;
	padding: auto;
}
#footerwarp{
	width:80%;
	margin:auto;
}
#footer h1{
	font-size:12px;
	color:#000;
	margin:0px;
}
.col { 
	float: left;
	margin:0px;
	padding: 0px;
	width: 20%;
}
.col a{ 
	color:#666;
}
#footer_copyright{
	clear:both;
	width:80%;
	margin:auto;
	padding-top:30px;
}
#footer_copyright hr{
	border: 0;
    height: 1px;
    background: #CCC;
}
#warp{
	width:80%;
	margin: auto;
	padding-bottom:15px;
}
#profileimg{
	float:left;
	margin-right:10px;
	display:block;
	height:auto;
}
#profile{
	height:190px;
}
.title{
	font-size:36px;
}
.blogArticle{
	border-radius:3px;
	border: 1px solid #acacac;
	padding:10px;
	margin: 10px 0;
}
.blogTitle{
	font-size:30px;
}
.blogDate{
	font-size:10px;
}
